@charset "UTF-8";

.ziozio{
	width: 400px;
	height: 250px;
}
.jumbotron{
	background-color: #FFF2EC !important;
}

.clothset-con{
	width: 400px;
	height: 150px;
	text-align: center;
	border: white;
 	overflow: hidden; /* div영역을 벗어난 부분을 안보이게 처리 */  
/*   overflow: visible;  div영역을 전부 보이게 처리   */
	margin: 0 auto; /* div영역을 중앙으로 정렬(외부 정렬) */
}
.clothset-con1{
	width: 400px;
	height: 200px;
	text-align: center;
	border: white;
 	overflow: hidden; /* div영역을 벗어난 부분을 안보이게 처리 */  
/*   overflow: visible;  div영역을 전부 보이게 처리   */
	margin: 0 auto; /* div영역을 중앙으로 정렬(외부 정렬) */
}

.marginauto{
	margin: 0 auto; width: fit-content;
}
.padding{
	padding-top: 20px;	
}

.center{
	text-align: center !important;
}

.fon1{
	    font-size: x-large;
}
	
.right{
	text-align: right;
}
.left{
	text-align: left;
}
.con{
	padding-right: 300px !important;
    padding-left: 300px !important;
    margin-right: auto;
    margin-left: auto;
}

.input{
	background-color: #FFD2BD !important;
	border-color: #FFD2BD !important;
}

.input1{
	background-color: #FFD2BD !important;
	border-color: #FFD2BD !important;
	color: black !important;
	width:100px;
	height:40px;
}	
.input2{
	background-color: #FFF2EC;
}
.color{
	color: black ;
}
.textcolor{
	text-color: black;
}
.width{
	width: 120px !important;
}
.width1{
	width: 200px !important;
}
.width2{
	width: 300px !important;
}
.widtha{
	width: 600px !important;
	align: center !important;
}

/* 오류or메세지창 */
.vertical-alignment-helper {
	display: table;
	height: 100%;
	width: 100%;
}
.vertical-align-center {
	display: table-cell;
	vertical-align: middle;
	pointer-events: none;
}
.modal-content {
	width: inherit;
	height: inherit;
	margin: 0 auto;
	pointer-events: none;
}



/* 전체폰트 */
.font-gothic{
  font-family: 'Gothic A1', sans-serif;
}

/* 강조폰트 */
.font-dohyeon {
  font-family: 'Do Hyeon', sans-serif;
}

/* 근엄한폰트 */
.font-nanum {
  font-family: 'Nanum Myeongjo', serif;
}
                   