@charset "UTF-8";

.marginauto{
	margin: 0 auto; width: fit-content;
}




.padding{
	padding-top: 20px;	
}

.center{
	text-align: center;
}

.input{
	background-color: #F0E378 ;
	border-color: #F0E378 ;
	
} 

.color{
	
	color: black ;
}


.width{
	width: 120px !important;
}
.width1{
	width: 200px !important;
}