@charset "UTF-8";

.marginauto{
	margin: 0 auto; width: fit-content;
}
.padding{
	padding-top: 20px;	
}

.center{
	text-align: center;
}
.right{
	text-align: right;
}



.input{
	background-color: #F0E378 !important;
	border-color: #F0E378 !important;
}

.input1{
	background-color: #F0E378 !important;
	border-color: #F0E378 !important;
	color: black !important;
	width:100px;
	height:40px;
}	


.input2{
	background-color: #FFFAB1;
}

.color{
	color: black ;
}



.textcolor{
	text-color: black;
}http://localhost:8888/qnaview
.width{
	width: 120px !important;
}
.width1{
	width: 200px !important;
}
.width2{
	width: 300px !important;
}
.widtha{
	width: 600px !important;
	align: center !important;
}

/* 오류or메세지창 */
.vertical-alignment-helper {
	display: table;
	height: 100%;
	width: 100%;
}
.vertical-align-center {
	display: table-cell;
	vertical-align: middle;
	pointer-events: none;
}
.modal-content {
	width: inherit;
	height: inherit;
	margin: 0 auto;
	pointer-events: none;
}




                                                